
.summaryForm {
    display: flex;
    flex-direction: column;
   
    button {
        border: 1px solid black;
    }
    label {
        span{
            color: blue;
            font-weight: 700;
        }
    }
}
.popover-basic {
    border: 1px solid black;
}